@import "./../../styles/scss/mixins";
.wrapper {
  .floated_section {
    margin-top: -2em;
    background-color: white;
    @include box-shadow(0px 2px 9px 1px #eaeaea);
    border-radius: 10px;
    text-align: justify;
    img {
      height: auto;
      max-width: 100%;
    }
    .content {
      .category {
        border-radius: 10px;
        color: white;
        text-transform: capitalize;
      }
    }
  }
}
.preview_img {
  height: 20em;
  @include box-shadow(0px 2px 9px 1px #eaeaea);
  border-radius: 1.1em;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
@media screen and (max-width: 420px) {
  .wrapper {
    .heading {
      flex-direction: column-reverse;
    }
  }
}
