.background {
  background-image: url("/assets/images/headers.jpg");
  height: 82vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top-left-radius: 10em;
  border-bottom-right-radius: 10em;
}

@media screen and (max-width: 768px) {
  .background {
    height: 27vh;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
