@import "./../../styles/scss/mixins";
.wrapper {
  @include box-shadow(0px 2px 9px 1px #eaeaea);
  border-radius: 19px;
  h5 {
    width: 100%;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    color: #b0adad;
  }
  .category {
    border-radius: 2em;
    color: white;
  }
  .fav {
    height: 1.5em;
    &:hover {
      cursor: pointer;
    }
  }
  .disabledfav {
    height: 1.5em;
    filter: opacity(0.1);
    & ~ p {
      color: #e7e7e7;
    }
  }
  .delete {
    right: 0;
    cursor: pointer;

    img {
      height: 1.4em;
    }
  }
}
.details {
  box-shadow: 0px -1px 1px 1px #eaeaea;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: #65d5fc;
    color: white;
  }
}
