@import "./../../styles/scss/variables";
@import "./../../styles/scss/mixins";
.nav {
  @include box-shadow(0px 2px 9px 1px #eaeaea);
  .logo {
    border-radius: 50%;
    border-left: 1px solid #bef6ff;
    border-bottom: 1px solid $secondaryColor;
  }
  .items {
    a {
      color: $primaryColor;
    }
    .item {
      font-size: 1.2em;
    }
  }
  .add {
    height: 2.1em;
  }
  .logout {
    img {
      height: 2.1em;
      transform: rotateY(180deg);
    }
  }
  .brand {
    top: 2.2em;
    left: 4.1em;
    color: $primaryColor;
  }
  .name {
    color: $primaryColor;
    text-transform: capitalize;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .wrapper {
    flex-direction: column-reverse;
  }
}
