@import "./../../styles/scss/variables";
.preview,
.save {
  img {
    height: 1.7em;
  }
}
.disabled_btn {
  filter: opacity(0.2);
}
.enabled_btn {
  filter: opacity(1);
}
.title {
  color: $primaryColor;
}
.upload {
  height: 1.7em;
  cursor: pointer;
}
.displayed_img {
  height: auto;
  max-width: 100%;
}
.remove {
  right: 3px;
  height: 1.4em !important;
  cursor: pointer;
}
