.cover {
  height: 10em;
  width: 10em;
  border: 2px dashed #eeeeee;
  border-radius: 50%;
  .image {
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
.box {
  width: 10em;
  height: 2em;
  border: dashed 2px #eeeeee;
  border-color: #eeeeee #eeeeee transparent transparent;
  border-radius: 0 0 156px 3%/91px;
  margin-left: 8em;
}
