$primaryColor: #2085a3;
$secondaryColor: #11998e;
/* ============== Fonts ================= */
$fontExtentions: "ttf";
$EnglishFontFamilies: "AkayaKanadaka-Regular", "AkayaKanadaka-Medium",
  "AkayaKanadaka-Bold";
$ArabicFontFamilies: "Almarai-Regular", "Almarai-Light", "Almarai-Bold";
