html,
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
// FONTS
.bold-font {
  font-family: AkayaKanadaka-Bold;
}
.medium-font {
  font-family: AkayaKanadaka-Medium;
}
// .bold-english-font {
//   font-family: Almarai-Bold;
// }
// .medium-english-font {
//   font-family: AkayaKanadaka-Medium;
// }

// TEXT-EDITOR
.tox-tinymce {
  border-radius: 9px !important;
  font-family: YanoneKaffeesatz-Regular !important;
}
.tox-notifications-container {
  div[role="alert"] {
    display: none !important;
    opacity: 0 !important;
  }
}
.tox.tox-tinymce {
  min-height: 200px;
  max-height: 500px;
  .tox-statusbar {
    .tox-statusbar__branding {
      display: none !important;
    }
  }
}
.tox-dialog__body-content {
  .tox-form {
    .tox-form__group:nth-child(3) {
      display: none !important;
    }
  }
}

// TABS
.react-tabs {
  .react-tabs__tab-list {
    border-color: #eeeeee !important;
    .react-tabs__tab--selected {
      color: $primaryColor;
      font-weight: bold;
      border-color: #eeeeee !important;
      box-shadow: 0px -5px 3px -3px #f2f2f2;
    }
  }
}

// CONFIRMATION DIALOG
.react-confirm-alert-body {
  width: 74% !important;
  h1 {
    font-size: 1.2em;
  }
  margin: auto;
  .react-confirm-alert-button-group {
    display: flex;
    justify-content: center;
    & > button {
      background-color: $primaryColor !important;
      font-weight: bold;
    }
  }
}

// COLOR PICKER
input[id^="rc-editable-input"] {
  display: none !important;
}
// GENERAL STYLES
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
button {
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}
input:focus {
  outline: none;
}
h3 {
  word-break: break-word;
}
::placeholder {
  color: $placeholder;
}
// .tox .tox-button--icon,
// .tox .tox-button.tox-button--icon,
// .tox .tox-button.tox-button--secondary.tox-button--icon {
//   display: none;
// }

// GENERAL CLASSES
.section-min-height {
  min-height: 75vh;
}
.profile-img-small,
.profile-img-large,
.profile-img-medium {
  border-radius: 50%;
  box-shadow: 0px 1px 5px 3px #dcdcdc;
}

.profile-img-small {
  height: 50px;
  width: 50px;
}
.profile-img-medium {
  height: 80px;
  width: 80px;
}

.profile-img-large {
  height: 100px;
  width: 100px;
}
